##########################
# Jetbrains Ignore files #
##########################
*.iml
.idea/
target/

#####################
# C++ Ignore files #
#####################
*.out
cmake-build-debug/
.vscode/

#####################
# Python Ignore files #
#####################
.ipynb_checkpoints/
__pycache__/
.settings/
.classpath
.project
.factorypath
mldata/