##########################
# Jetbrains Ignore files #
##########################
*.iml
.idea/
target/

#####################
# C++ Ignore files #
#####################
*.out
cmake-build-debug/
.vscode/